<div class="flex flex-space-between">
  <div>
    <mat-form-field>
      <mat-label>Ordonează licitațiile</mat-label>
      <mat-select [(value)]="selectedOrderByOption">
        <mat-option
          *ngFor="let orderBy of orderByOptions"
          [value]="orderBy.value"
        >
          {{ orderBy.option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-button-toggle-group [(value)]="gridView" #group="matButtonToggleGroup">
      <mat-button-toggle [value]="true">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="false">
        <mat-icon>view_headline</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<mat-divider></mat-divider>
<div class="auctions-grid" *ngIf="gridView">
  <mat-grid-list
    [cols]="gridCols"
    rowHeight="390px"
    gutterSize="16px"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile *ngFor="let auction of auctions">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ auction.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="auction.noReserve">
            <span class="primary">Fără rezervă</span>
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="!auction.noReserve">
            <span class="accent">Cu rezervă</span>
          </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="auction.imageUrl"
          height="200px"
          [alt]="auction.title"
        />
        <mat-card-content>
          {{ auction.description }}
        </mat-card-content>
        <mat-card-actions>
          <span *ngIf="auction.lastBid !== 0">
            Ultima ofertă:
            <span class="fw-500">
              {{ auction.lastBid | currency: auction.currency }}
            </span>
          </span>
          <span class="fw-500" *ngIf="auction.lastBid === 0">
            Nu sunt oferte
          </span>
          <div>
            Se închide în:
            <span
              [ngClass]="{
                warn: auction.closesSoon,
                live: !auction.closesSoon
              }"
            >
              {{ auction.timeBeforeClose }}
            </span>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="auctions-list" *ngIf="!gridView">
  <div>
    <mat-selection-list #auctionsList [multiple]="false">
      <div *ngFor="let auction of auctions">
        <mat-list-option role="auction">
          <div class="flex">
            <img
              [src]="auction.imageUrl"
              height="50px"
              width="50px"
              alt="auctionItem"
            />
            <div class="auction-info w-100 flex flex-space-between">
              <div>
                <div class="auction-title" mat-line>{{ auction.title }}</div>
                <div class="auction-description" mat-line>
                  {{ auction.description }}
                </div>
                <div mat-line class="primary" *ngIf="auction.noReserve">
                  Fără rezervă
                </div>
                <div mat-line class="accent" *ngIf="!auction.noReserve">
                  Cu rezervă
                </div>
              </div>
              <div class="last-bid text-end">
                <div mat-line *ngIf="auction.lastBid !== 0">
                  Ultima ofertă:
                  <span class="fw-500">
                    {{ auction.lastBid | currency: auction.currency }}
                  </span>
                </div>
                <div mat-line *ngIf="auction.lastBid === 0">Nu sunt oferte</div>
                <div mat-line>
                  Se închide în:
                  <span
                    [ngClass]="{
                      warn: auction.closesSoon,
                      live: !auction.closesSoon
                    }"
                  >
                    {{ auction.timeBeforeClose }}
                  </span>
                </div>
              </div>
              <div class="last-bid-small text-end">
                <div mat-line *ngIf="auction.lastBid !== 0">
                  <span class="fw-500">
                    {{ auction.lastBid | currency: auction.currency }}
                  </span>
                </div>
                <div mat-line *ngIf="auction.lastBid === 0">Nu sunt oferte</div>
                <div mat-line>
                  <span
                    [ngClass]="{
                      warn: auction.closesSoon,
                      live: !auction.closesSoon
                    }"
                  >
                    {{ auction.timeBeforeClose }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </mat-list-option>
        <mat-divider></mat-divider>
      </div>
    </mat-selection-list>
  </div>
</div>
