.auction-info {
  line-height: 120%;
  padding-left: 16px;

  .auction-description {
    display: block;
    @media screen and (max-width: 599px) {
      display: none;
    }
  }

  .last-bid {
    display: none;
    @media screen and (min-width: 600px) {
      display: block;
    }
  }

  .last-bid-small {
    display: none;
    @media screen and (max-width: 599px) {
      display: block;
    }
  }
}

.auctions-grid {
  margin-top: 8px;
}

mat-card {
  img {
    object-fit: cover;
  }

  :hover {
    cursor: pointer;
  }
}
