<div class="mt-5" fxLayout="row" fxLayoutAlign="space-between">
  <div *ngIf="auctionsStatus !== AUCTIONS_STATUS.CLOSED">
    <mat-form-field>
      <mat-label class="live"><mat-icon>sensors</mat-icon> Live</mat-label>
      <mat-select
        [(value)]="filterBy"
        (selectionChange)="onFilterSelect($event)"
      >
        <mat-option
          *ngFor="let filterBy of filterByOptions"
          [value]="filterBy.value"
        >
          {{ filterBy.option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="auctionsStatus === AUCTIONS_STATUS.CLOSED">
    <h1 class="header-closed"><mat-icon>gavel</mat-icon> Închise</h1>
  </div>
  <div>
    <mat-button-toggle-group
      [value]="auctionsView"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle [value]="AUCTIONS_VIEW.GRID" (click)="onSetGridView()">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="AUCTIONS_VIEW.LIST" (click)="onSetListView()">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<mat-divider></mat-divider>
<ace-auctions-grid
  [auctions]="auctions$ | async"
  *ngIf="auctionsView === AUCTIONS_VIEW.GRID"
></ace-auctions-grid>
<ace-auctions-list
  [auctions]="auctions$ | async"
  *ngIf="auctionsView === AUCTIONS_VIEW.LIST"
></ace-auctions-list>
