mat-form-field {
  font-size: 125%;
}

a {
  text-decoration: none;
}

.header-closed {
  margin-bottom: 0;
  padding: 18px 0 20px 0;
}

.auction-li {
  padding-left: 16px;
}

.auctions-grid {
  margin-top: 8px;
  mat-card {
    img {
      object-fit: cover;
    }
  }
}
