<mat-toolbar class="mat-elevation-z3">
  <div>Ace<span class="primary">of</span>Bids</div>
  <td-search-box
    backIcon="keyboard_arrow_right"
    clearIcon="clear"
    placeholder="Căutare licitații"
    [showUnderline]="true"
  ></td-search-box>
  <button mat-button [matMenuTriggerFor]="auctionsMenu">Licitații</button>
  <mat-menu #auctionsMenu="matMenu">
    <button mat-menu-item routerLink="/auctions/live">
      <mat-icon>sensors</mat-icon>
      <span class="live">Live</span>
    </button>
    <button mat-menu-item routerLink="/auctions/closed">
      <mat-icon>gavel</mat-icon>
      <span>Închise</span>
    </button>
  </mat-menu>
  <button mat-button routerLink="/about">Despre noi</button>
  <button
    mat-button
    color="primary"
    (click)="onOpenAuthDialog()"
    *ngIf="(loggedUser$ | async) === null"
  >
    Conectează-te
  </button>
  <button
    mat-button
    color="primary"
    [matMenuTriggerFor]="accountMenu"
    *ngIf="loggedUser$ | async"
  >
    Contul meu
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item routerLink="/account">
      <mat-icon>person</mat-icon>
      <span> {{ (loggedUser$ | async)?.username }}</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>power_settings_new</mat-icon>
      <span class="warn">Deconectare</span>
    </button>
  </mat-menu>
  <button
    *ngIf="themeClass === ThemesEnum.LIGHT_THEME"
    mat-icon-button
    (click)="onChangeTheme(ThemesEnum.DARK_THEME)"
  >
    <mat-icon>brightness_4</mat-icon>
  </button>
  <button
    *ngIf="themeClass === ThemesEnum.DARK_THEME"
    mat-icon-button
    (click)="onChangeTheme(ThemesEnum.LIGHT_THEME)"
  >
    <mat-icon class="accent">brightness_5</mat-icon>
  </button>
</mat-toolbar>
