mat-progress-bar {
  position: absolute;
  z-index: 3;
}

mat-drawer-container {
  min-height: 100vh;
  padding-top: 64px;

  mat-drawer {
    padding-top: 55px;
    button {
      margin: 5px;
    }
    @media screen and (max-width: 599px) {
      padding-top: 45px;
    }
  }

  main {
    padding: 16px;
  }

  #drawer-btn {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 960px) {
    #drawer-btn {
      display: none;
    }
  }

  @media screen and (max-width: 599px) {
    padding-top: 56px;
  }
}
