<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
></mat-progress-bar>
<ace-header></ace-header>
<mat-sidenav-container
  class="main-sidenav-container mat-app-background"
  (backdropClick)="onCloseSidenav()"
  (window:resize)="onResize($event)"
  [ngClass]="{ 'dark-theme': (theme$ | async) === ThemeEnum.DARK_THEME }"
>
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">
    <ace-sidenav></ace-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <button id="sidenav-btn" mat-fab color="primary" (click)="onOpenSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <ace-footer></ace-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
