mat-progress-bar {
  position: absolute;
  z-index: 3;
}

mat-toolbar {
  font-weight: bold;
  position: fixed;
  z-index: 2;

  @media screen and (max-width: 599px) {
    button {
      display: none;
    }
  }
}

mat-sidenav-container {
  mat-sidenav {
    padding-top: 55px;
    min-height: 100vh;
  }

  mat-sidenav-content {
    min-height: 100vh;
    min-height: calc(100vh - 96px);
    padding: 80px 16px 16px 16px;
    @media screen and (max-width: 599px) {
      min-height: calc(100vh - 91px);
      padding-top: 75px;
    }

    #sidenav-btn {
      position: fixed;
      bottom: 16px;
      right: 16px;
      @media screen and (min-width: 600px) {
        display: none;
      }
    }

    footer {
      padding-top: 50px;
    }
  }
}
