@import "~@angular/material/theming";
@include mat-core();

$ace-of-bids-primary: mat-palette($mat-cyan);
$ace-of-bids-accent: mat-palette($mat-orange);
$ace-of-bids-warn: mat-palette($mat-red);

$ace-of-bids-theme: mat-light-theme(
  (
    color: (
      primary: $ace-of-bids-primary,
      accent: $ace-of-bids-accent,
      warn: $ace-of-bids-warn,
    ),
  )
);

@include angular-material-theme($ace-of-bids-theme);

:root {
  --primary: #00bcd4;
  --accent: #ff9800;
  --warn: #f44336;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
