@import "~@angular/material/theming";
@include mat-core();

$light-primary: mat-palette($mat-cyan);
$light-accent: mat-palette($mat-orange);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);

$dark-primary: mat-palette($mat-cyan);
$dark-accent: mat-palette($mat-orange);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

.light-theme {
  @include angular-material-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}

:root {
  --primary: #00bcd4;
  --accent: #ff9800;
  --warn: #f44336;
  --live: #4caf50;
  --gray: #424242;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: var(--accent);
}

.primary {
  color: var(--primary);
}

.accent {
  color: var(--accent);
}

.warn {
  color: var(--warn);
}

.live {
  color: var(--live);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-live {
  background-color: var(--live);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.w-100 {
  width: 100%;
}

.mb-5 {
  margin-bottom: 5px;
}

.fw-500 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
